<div class = "container">
    {{#each content}}
    <img src="{{this.image_url}}">
    <li>{{this.name}}</li>
    <li>{{this.tagline}}</li>
    <li>{{this.description}}</li>
</div>
    <li>{{this.food_pairing}}</li>
</div>

    {{/each}}
</div>